<!DOCTYPE html>
<html lang="en">

<!--
=======================================================================================
 Brooklyn HTML Template by United Themes (http://www.unitedthemes.com)
 Marcel Moerkens & Matthias Nettekoven 
=======================================================================================
-->

<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>B2Beer - Cervejas artesanais</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="css/reset.css" media="all">
    <link rel="stylesheet" href="css/ut-fontface.css" media="all">
    <link rel="stylesheet" href="css/font-awesome.css" media="all">
	<link rel="stylesheet" href="css/flexslider.css" media="all">
    <link rel="stylesheet" href="css/magnific-popup.css" media="all">
    <link rel="stylesheet" href="css/ut-responsive-grid.css" media="all">
    <link rel="stylesheet" href="css/color.css" media="all">
    <link rel="stylesheet" href="css/style.css" media="all">
    
    <!-- DEMO Switcher
  	================================================== -->
    <link rel="stylesheet" href="../styleswitcher/css/styleswitcher.css">
    
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
	<![endif]-->
    
   <!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="ie8-and-down.css" />
	<style>.hero .hero-holder {
		margin-left:-410px;
	}
	</style>
    <![endif]-->
    
    <!--[if IE]>
		<link rel="stylesheet" type="text/css" href="css/ie.css" />
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<!-- Load jQuery
  	================================================== -->
  	<script src="js/jquery.min.js"></script>
    <script src="js/SmoothScroll.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/device.min.js"></script>
	
    <!-- DEMO Switcher
  	================================================== -->
    <script src="../styleswitcher/js/styleswitcher.js"></script>
    
</head>

<body id="mainsite">
	
    <div id="ut_styleswitcher">
    
    <a id="top"></a>
    
	<!-- Page Layout
	================================================== -->
    
     <!-- header section -->
	<header id="header-section" class="ha-header ha-header-hide">
    	<div class="grid-container">
				<div class="ha-header-perspective">
					<div class="ha-header-front">
                    <div class="grid-20 tablet-grid-20 hide-on-mobile">
						<h1 class="logo"><a href="#top"><img src="images/logo.png" alt="logo"></a></h1>
                        </div>
						<nav id="ut-navigation" class="grid-80 tablet-grid-80 hide-on-mobile">
                        	<a class="selected" href="#top">Home</a>
							<a href="#about-section">Sobre</a>
							<a href="#team-section">Team</a>
                            <a href="#contact-section">Cadastre-se</a>
						</nav>
					</div>
				</div><!-- close .ha-header-perspective --> 
        </div><!-- close grid container -->  
    </header><!-- close header -->
    
    <div class="clear"></div>
    
	<!-- hero section -->
    <section class="hero ha-waypoint parallax-section parallax-banner-1 parallax-background" data-animate-up="ha-header-hide" data-animate-down="ha-header-hide">
        <div class="parallax-overlay parallax-overlay-1"></div> 
    	<div class="grid-container">
    		
            <!-- hero holder -->
            <div class="hero-holder grid-70 mobile-grid-100 tablet-grid-100">
            	<div class="hero-inner">
                    <span class="hero-description">De mestres a entusiastas</span>
                    <div class="hero-title-holder"><h1 class="hero-title">Nós fazemos <span>cerveja</span></h1></div>
                    <span class="btn-holder"><a id="to-about-section" class="hero-btn">Faça você também!</a></span>
                </div>
            </div><!-- close hero-holder -->    													
    	</div>
    </section><!-- close hero section -->
    
    <div class="clear"></div>
   
    <div id="main-content" class="wrap">
        
        <%- body %>
    
        <div class="clear"></div>
    
    	<!-- Footer Section -->
    	<footer class="footer">
        <a href="#top" class="toTop"><i class="icon-angle-up"></i></a>
    		<div class="grid-container">
    			<div class="grid-100 mobile-grid-100 tablet-grid-100">
                    <h3>Nós <i class="icon-heart"></i> cerveja.</h3>
                    <span class="copyright">Powered by <a href="http://campinas.startupweekend.org" target="_blank">Startup Weekend Campinas</a></span>
             	</div>
    		</div><!-- close container -->
    	</footer><!-- close footer -->
    </div>
	
    <!-- Load Javascript
  	================================================== -->
    <script src="js/jquery.mb.YTPlayer.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/jquery.parallax.min.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
   	<script src="js/jquery.custom.js"></script>
    
<!-- End Document
================================================== -->
</body>
</html>