<!-- about section -->
<div class="nav-waypoint">
<section id="about-section" class="about-section content-section ha-waypoint" data-animate-up="ha-header-hide" data-animate-down="ha-header-small">
    <div class="grid-container">
        
        <!-- section header -->
        <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
            <header class="section-header">
                <h2 class="section-title"><span>O que é?</span></h2>
                <p class="section-slogan">Somos uma plataforma para <strong>cervejeiros</strong>, leigos e profissionais.
            </header>
        </div>
        <!-- close section header -->
        
        <div class="grid-50 tablet-grid-100 mobile-grid-100 about-box">
            <figure class="about-icon"><img src="images/home_features_easy.png" alt="app-development"></figure>
            
            <div class="about-box">
                <h3>Simples, rápido e fácil</h3>
                <p>Receitas prontas, montadas por mestres, ao alcance de qualquer um com um fogão e vontade de beber</p>
            </div>
        </div>
        
        <div class="grid-50 tablet-grid-100 mobile-grid-100 about-box">
            <figure class="about-icon"><img src="images/people.png" alt="ui-design"></figure>
            
            <div class="about-box">
                <h3>Social</h3>
                <p>Crie, compartilhe, compra, venda e principalmente <strong>beba</strong> com seus amigos! Tudo isso usando seu celular e sua conta do Facebook!</p>
            </div>
        </div>
        
    </div><!-- close grid-container -->
</section><!-- close about section -->

<div class="clear"></div>

 <!-- contact section -->
 <div class="nav-waypoint">
 <section id="contact-section" class="contact-section parallax-section parallax-banner-5 parallax-background">
 <div class="parallax-overlay parallax-overlay-5"></div><!-- parallax overlay -->
    <div class="grid-container parallax-content">
    
            <!-- parallax header -->
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <header class="parallax-header">
                    <h2 class="parallax-title"><span>O <strong>mestre</strong> agora é você!</span></h2>
                    <p class="parallax-slogan">Monte <strong>sua</strong> cerveja <strong>do seu jeito</strong>, escolha um nome e o resto é com a gente!</p>
                </header>
            </div>
            <!-- close parallax header -->
        
        <div class="clear"></div>
        
        <!-- contact wrap -->
        <div class="grid-100 mobile-grid-100 tablet-grid-100">
        <div class="contact-wrap">
        
        <!-- contact form -->
        <form id="contact-form" class="contact-form">
        <!-- contact message -->
        <div class="grid-parent grid-40 suffix-5 mobile-grid-100 tablet-grid-100">
            <div class="contact-message">
                <h3 class="grid-100">Escolha o Malte:</h3>
                <ul class="icons-ul">
                    <li>
                        <i class="icon-li fa-beer"></i>
                        <input type="radio" name="beer_type" value="pilsen"> <strong>Pilsen</strong>: O tipo mais comum de cerveja. A maioria dos rótulos mais vendidos no Brasil apresentam as características de coloração clara, dourada e baixa fermentação, Característico das bebidas do grupo de lagers.

                        <br />Teor alcoólico: Baixo (3% a 5%)
                    </li>

                    <li>
                        <i class="icon-li fa-beer"></i>
                        <input type="radio" name="beer_type" value="pilsen"> <strong>Stout</strong>: O que é: As stouts fazem parte do outro grande grupo das cervejas, o Ale, caracterizado por alta fermentação e malte acentuado, tornando o sabor mais forte. No caso deste tipo, elas são feitas a partir de cevada torrada e recebem adição de grãos de café ou até chocolate, caracterizando uma coloração escura.

                        <br />Teor alcoólico: Alto (entre 8% e 12%)
                    </li>

                    <li>
                        <i class="icon-li fa-beer"></i>
                        <input type="radio" name="beer_type" value="pilsen"> <strong>Weissbier</strong>: A famosa cerveja de trigo tem esse nome justamente pela variação do malte, embora também tenha cevada na composição. Existem variações deste tipo de bebida, que modificam coloração e sabor, mas a maioria é opaca, refrescante e, por não ser filtrada, é uma pouco mais grossa, produzindo espuma cremosa.

                        <br />Teor alcoólico: Médio (em torno de 6%)
                    </li>

                </ul>
                </div>
            </div><!-- close contact message -->
        
            <!-- contact form -->
            <div class="grid-parent grid-55 mobile-grid-100 tablet-grid-100">
            <div class="contact-form-holder clearfix">

        

            <h3 class="grid-100">Escolha como será produzida:</h3>
            <ul class="icons-ul">
                <li><input type="radio" name="beer_provider" value="home">Eu mesmo! Quero o kit para fazer na minha casa. <br /></li>
                <li><input type="radio" name="beer_provider" value="mentorship">Eu mesmo, numa cervejaria com um mestre cervejeiro me auxiliando. <br /></li>
                <li><input type="radio" name="beer_provider" value="partner">Quero comprar de um fornecedor artesanal parceiro! <br /></li>
            </ul>

            <h3 class="grid-100">Personalize!</h3>

            <ul class="grid-100">
                
                <li><input id="name" class="name" type="text" name="beer_name" placeholder="Nome da Cerveja"></li>
                <li><input type="checkbox" name="beer_logo" value="true">Quero um rótulo personalizado de graça!<br /></li>
                
            </ul>
        
        
            <h3 class="grid-100">Informações para contato</h3>
        
            <ul class="grid-50">
                <li><input id="name" class="name" type="text" name="owner_name" placeholder="Nome:"></li>
                <li><input id="email" class="email" type="email" name="owner_email" placeholder="E-Mail:"></li>
                <li><input id="phone" class="phone" type="text" name="owner_phone" placeholder="Tel/Cel:"></li>                
            </ul>
            
            <ul class="grid-50">
                <li><textarea id="message" class="message" name="owner_msg" placeholder="Observações, dúvidas, sugestões..."></textarea></li>
            </ul>
            
            <div class="grid-100">    
                <input id="send-btn" class="send-btn" type="submit" name="send-btn" value="Enviar">
                <div class="success-message">Orçamento recebido com sucesso!</div>
                <div class="alert-message"></div>
                <div class="error-message">Não consegumos registrar seu orçamento... Atualize a página e tente de novo! Se o erro persistir entre em contato com <a href="mailto:b2beer.startup@gmail.com">b2beer.startup@gmail.com</a></div>
            </div>   
          </form><!-- close contact form -->
                
        </div>
        </div><!-- close contact-form-holder -->
        
        </div>
        </div><!-- close contact wrap -->
        
        
    </div><!-- close container -->
</section><!-- close contact section -->

</div><!-- close nav-waypoint -->